* {
    color: #f8f8f8;
    background-color: #0c0c0c;
    margin: 0;
    border: 0;
    padding: 0;

    box-sizing: border-box;

    transition: 0.5s;
}

.sky-img {
    height: 200px;

    margin: 15px;
    border-radius: 50%;
}

body {
    min-height: 100vh;

    display: flex;
}

aside {
    padding: 20px;

    background-color: #262626;

    display: flex;
    flex-direction: column;
    align-items: center;
}

aside * {
    background-color: #262626;
}

.title-aside {
    margin-bottom: 15px;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links-container > a:hover {
    color: #fc90fb;
}

.github {
    height: 24;
    width: 24;
    margin: 5px;
}

main {
    display: flex;
    flex-direction: column;

    padding-left: 40px;
    padding-top: 40px;
}

.welcome, .journey, .networking {
    margin: 15px;
}

.welcome-title, .journey-title, .networking-title {
    margin-bottom: 5px;
}

.welcome-p {
    margin-bottom: 5px;
}

.welcome-icon {
    margin-left: 25px;
    margin-right: 5px;
}

.journey-p {
    padding-right: 30px;
}

.journey-links:hover {
    color: #fc90fb;
}

.network-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.network-img {
    height: 200px;
    width: 240px;

    margin: 15px;

    border-radius: 15px;
}

.whatsapp a img{
    height: 40px;
    background-color: rgba(12, 12, 12, 0);
    position: fixed;
    bottom: 15px;
    right: 15px;
}

@media screen and (max-width: 1023px) {
    body {
        flex-direction: column;
    }
    
    .network-imgs, .network-img {
        padding: 0;
        border: 0;
    }
}